#movie-card {
  background-color: var(--background-color);
  color: var(--text-color-dark);
  height: 100%;
  border: none;
}

#card-title {
  font-weight: bold;
}

.card-text {
  margin-bottom: 50px;
}

.card-img {
  width: 100%;
  height: 30vw;
  min-height: 350px;
  object-fit: cover;
}

.button {
  border: 1px solid var(--btn-color) !important;
  color: var(--btn-color) !important;
  &:hover {
    background-color: var(--btn-color) !important;
    border: 1px solid var(--btn-color) !important;
    color: var(--text-color-light) !important;
  }
  &:active {
    background-color: var(--btn-color) !important;
    color: var(--text-color-light) !important;
  }
}

.btn-open {
  position: absolute;
  left: 20px;
  bottom: 20px;
  padding: 5px 8px;
}

.btn-add {
  position: absolute;
  left: 80px;
  bottom: 20px;
  padding: 5px 8px;
}
