.movie-view {
  background-color: var(--background-color);
  color: var(--text-color-dark);
  position: relative;
}

.movie-title {
  font-size: 2rem;
  font-weight: 500;
}

.movie-descr_label {
  font-weight: 500;
  text-decoration: underline;
}

.movie-back-button {
  width: 70px;
  position: absolute;
  top: 0px;
  border: 1px solid var(--text-color-dark) !important;
  color: var(--text-color-dark) !important;
  background-color: var(--background-color);
  &:hover {
    background-color: var(--text-color-dark) !important;
    border: 1px solid var(--text-color-dark) !important;
    color: var(--text-color-light) !important;
  }
  &:active {
    background-color: var(--text-color-dark) !important;
    color: var(--text-color-light) !important;
  }
}

.btn-dir,
.btn-gen {
  width: 100px;
  border: 1px solid var(--btn-color) !important;
  color: var(--btn-color) !important;
  background-color: var(--background-color);
  &:hover {
    background-color: var(--btn-color) !important;
    border: 1px solid var(--btn-color) !important;
    color: var(--text-color-light) !important;
  }
  &:active {
    background-color: var(--btn-color) !important;
    color: var(--text-color-light) !important;
  }
}
