.navbar {
  background-color: var(--background-color-nav);
  padding: 30px;
}

// .navbar-light .navbar-nav .nav-link {
//   color: var(--text-color);
// }

// .navbar-nav .nav-link:hover {
//   color: var(--text-color);
//   font-weight: 800;
// }

.navbar h1 {
  font-weight: 700;
  color: #fff;
}
