.navbar {
  background-color: #f79f7e;
  padding: 30px;
}

.navbar-light .navbar-nav .nav-link {
  color: #111;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: rgb(62, 62, 62);
  font-weight: 700;
}

.navbar h1 {
  font-weight: 700;
  color: white;
}
