:root {
  --background-color: #e4dcc8;
  --text-color-dark: #111;
  --text-color-light: #fff;
  --btn-color: #d96440;
  --warn-color: #cbc8c7;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
  width: 100vw;
}

.app-container {
  font-family: 'Poppins', sans-serif;
  line-height: 1.8;
  background-color: var(--background-color);
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 1%;
}
